<h2>
  <%= @message + @user.username %>!
</h2>

<h3>Sales to Date: $<%= @total_sales %></h3>
<h3>Total Items Sold: <%= @quantity_sold %></h3>
<h3>Recent Orders</h3>
<table class="table">
  <thead>
    <tr>
      <th>
        Order
      </th>
      <th>
        Product
      </th>
      <th>
        Quantity Sold
      </th>
      <th>
        Status
      </th>
    </tr>
  </thead>
  <tbody>
    #array of order items
    <% @recent_sales.each do |x| %>
      <tr>
        <td>
          <%= link_to("#{x.order_id}", user_order_path(@user.id, x.order_id)) %>
        </td>
        <td>
          <%= link_to("#{x.product.name}", user_product_path(@user.id, x.product.id)) %>
        </td>
        <td>
          <%= x.quantity %>
        </td>
        <td>
          <%= x.order.status %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
