<div class="row">
  <div class="col-lg-12">
    <div class="page-header">

      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
        <ul class="nav navbar-nav">
          <% if session[:user_id] %>
            <li>
              <%= link_to 'Log Out', logout_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Log In', login_path %>
            </li>
            <li>
              <%= link_to 'Register', register_path %>
            </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to 'Cart', cart_path %>
          </li>
        </ul>
        </div>
      </nav>

      <div class="row">
        <div class="col-md-9">
          <h1>
            <%= link_to "Secrets R Us", root_path %>
            <small>Selling All The Secrets</small>
          </h1>
        </div>

        <% unless current_page? root_path %>
          <div class="pull-right continue_shopping">
            <%= link_to "Continue Shopping", products_path, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
