<div class="row">
  <div class="col-lg-12">
    <div class="page-header">

      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
        <ul class="nav navbar-nav">
          <% if @user %>
            <li><%= link_to 'My Account', user_path(@user.id) %></li>
            <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Log In', login_path %></li>
            <li><%= link_to 'Register', new_user_path %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Cart', cart_path %></li>
        </ul>
        </div>
      </nav>

      <h1>
        <%= link_to "Secrets R Us", root_path %>
        <small>Selling All The Secrets</small>
      </h1>

      <!-- uncomment for debugging, remove before submitting final project -->
      <p>Order_id is: <%= session[:order_id] ? session[:order_id] : "none set" %></p>
      <p>Logged-in user is: <%= @user ? @user.username : "none" %></p>

    </div>
  </div>
</div>
