<!-- On the order fulfillment page:
  (DONE) Total Revenue
  (____) Total Revenue by status
  (DONE) Total number of orders by status
  (____) Filter orders displayed by status
  (DONE) Link to each individual order
  A list of orders including at least one of my products:
    (DONE) Each order item sold by me with a quantity and line-item subtotal
    (DONE) A link to the item description page
    (DONE) DateTime the order was placed
    (DONE) Link to transition the order item to marked as shipped
    (DONE) The current status of the order ("pending", "paid", "complete", "cancelled") -->

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><%= link_to("Home", user_path) %></li>
            <li><%= link_to("Products", user_products_path(@user.id)) %></li>
            <li><%= link_to("Orders", order_fulfillment_path) %></li>
            <li><%= link_to "Create a new Product", new_user_product_path(@user.id), method: :get %></li>
            <li><%= link_to("Go Shopping", products_path) %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li><%= link_to("Edit Account", edit_user_path) %></li>
          </ul>
      </div>
    </nav>
<pre>
  <%= params %>
</pre>

<h2>Order Fulfillment</h2>
<p>
  Total Revenue: <%= readable_price(@total_revenue) %>
</p>
<p>
  Pending Orders: <%= pending_orders %>
</p>
<p>
  Paid Orders: <%= paid_orders %>
</p>
<p>
  Complete Orders: <%= complete_orders %>
</p>
<p>
  Cancelled Orders: <%= cancelled_orders %>
</p>

------------------------------
<% @order_items.each do |order_item| %>
  <p>
    <%= link_to "Order #{order_item.id}", user_order_path(user_id: @user.id), class: "btn btn-default" %>
  </p>
  <p>
    Product: <%= link_to (Product.find(order_item.product_id).name), product_path, class: "btn btn-default" %>
  </p>
  <p>
    Quantity: <%= order_item.quantity %>
  </p>
  <p>
    Item Total: <%= readable_price(order_item.item_total) %>
  </p>
  <p>
    Date Placed: <%= readable_date(order_item.created_at) %>
  </p>
  <p>
    Payment Status: <%= Order.find(order_item.order_id).status %>
  </p>
  <p>
    Shipping Status: <%= frendly_shipped_status(order_item.order.shipped) %>
  </p>
  <% unless order_item.order.shipped == true %>
    <%= link_to "Mark Shipped", mark_shipped_path(@user, order_id: order_item.order.id), method: :put, class: "btn btn-warning" %></p>
  <% end %>
    ------------------------------
    <br>
    <br>
<% end %>
