<% form_for @shipping |f| %>
    <%= @rate_2day["service_name"] %>
    <%= @rate_2day["delivery_date"] %>
    <!-- strftime -->
    <%= number_to_currency(@rate_2day["total_price"]/100.00) %>

    <p>
      ground
    </p>
    <%= @rate_ground["service_name"] %>
    <%= @rate_ground["delivery_date"] %>
    <!-- strftime -->
    <%= number_to_currency(@rate_ground["total_price"]/100.00) %>

    <p>
      standard
    </p>
    <%= @rate_standard_on["service_name"] %>
    <%= @rate_standard_on["delivery_date"] %>
    <!-- strftime -->
    <%= number_to_currency(@rate_standard_on["total_price"]/100.00) %>
