<%= form_tag checkout2_path do %>
  <%= @rate_array.each do |rate| %>
    
      <div class="form-group">
        <%= label_tag(
          name = rate["service_name"]
        ) %>
          <%= radio_button_tag(
            "price",
            (rate["total_price"]),
            checked = false)
          %>
          <p><%= rate["delivery_date"].to_datetime.strftime("Delivered by: %m/%d")  %></p>
      </div>
  <% end %>
  <%= submit_tag  %>
<% end %>
