<%= form_tag checkout2_path do %>
  <div class="form-group">
    <%= label_tag(
      name = @rate_2day["service_name"]
    ) %>
      <%= radio_button_tag(
        "price",
        (@rate_2day["total_price"]),
        checked = false)
      %>
      <p><%= @rate_2day["delivery_date"].to_datetime.strftime("Delivered by: %m/%d")  %></p>
  </div>

  <div class="form-group">
    <%= label_tag(
      name = @rate_ground["service_name"]
    ) %>
      <%= radio_button_tag(
        "price",
        (@rate_ground["total_price"]),
        checked = false)
      %>
      <p><%= @rate_ground["delivery_date"].to_datetime.strftime("Delivered by: %m/%d")  %></p>
  </div>

  <div class="form-group">
    <%= label_tag(
      name = @rate_standard_on["service_name"]
    ) %>
      <%= radio_button_tag(
        "price",
        (@rate_standard_on["total_price"]),
        checked = false)
      %>
      <p><%= @rate_standard_on["delivery_date"].to_datetime.strftime("Delivered by: %m/%d")  %></p>
  </div>

      <%= submit_tag  %>
<% end %>
