<%= form_tag products_category_path, method: "get" do %>
  <%= select_tag "category", options_from_collection_for_select(Category.all, "id", "name") %>
  <%= submit_tag "Sort by Category" %>
<% end %>

<%= form_tag products_merchant_path, method: "get" do %>
  <%= select_tag "user", options_from_collection_for_select(User.all, "id", "username") %>
  <%= submit_tag "Sort by Merchant" %>
<% end %>

<% if request.path.include?("filter") %>
  <%= link_to "See all Products", products_path, method: :get, class: "btn" %>
<% end %>



<h1>All Products</h1>
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-sm-4">
      <h1>Name</h1>
    </div>
    <div class = "col-sm-4">
      <h1>Photo</h1>
    </div>
    <div class = "col-sm-4">
      <h1>Price</h1>
    </div>
  </div>
  <% if @products_array.empty? && @merchant_products.nil? %>
    <% @products.each do |product| %>
      <% if product.active %>
        <div class="row">
          <div class = "col-sm-4">
            <p><%= link_to "#{product.name}", product_path(product.id) %></p>
          </div>
          <div class = "col-sm-4">
            <p><%= image_tag("#{product.photo_url}", class: "photo") %></p>
          </div>
          <div class = "col-sm-4">
            <p><%= product.price %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% elsif @merchant_products.nil? %>
    <% @products_array.each do |product| %>
      <% if product.active %>
      <div class="row">
        <div class = "col-sm-4">
          <p><%= link_to "#{product.name}", product_path(product.id) %></p>
        </div>
        <div class = "col-sm-4">
          <p><%= image_tag("#{product.photo_url}", class: "photo") %></p>
        </div>
        <div class = "col-sm-4">
          <p><%= product.price %></p>
        </div>
      </div>
      <% end %>
    <% end %>
  <% else %>
    <% @merchant_products.each do |product| %>
      <% if product.active %>
      <div class="row">
        <div class = "col-sm-4">
          <p><%= link_to "#{product.name}", product_path(product.id) %></p>
        </div>
        <div class = "col-sm-4">
          <p><%= image_tag("#{product.photo_url}", class: "photo") %></p>
        </div>
        <div class = "col-sm-4">
          <p><%= product.price %></p>
        </div>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>
 
