<h2>Write a review for <%= link_to @product.name, @product %></h2>

<%= render partial: 'shared/product_details', locals: { shopping_page: false } %>

<%= form_for [@product, @review], url: product_reviews_path, html: { class: "form" } do |f| %>
  <div class="form-group">
    <%= f.label :rating %>
    <%= f.select :rating, options_for_select([ "★☆☆☆☆", "★★☆☆☆", "★★★☆☆", "★★★★☆", "★★★★★"]), include_blank: "Please Select", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :review_text, "Review" %>
    <%= f.text_area :review_text, class: "form-control" %>
  </div>

  <%= f.hidden_field :product_id, value: @product.id %>

  <%= f.submit "Submit Review", class: "btn btn-default" %>

<% end %>
